.alex-slick-slider-v3.alex-slick-slider{
  display: flex;
  flex-wrap: wrap;

  .alex-slick-slider-item{
	flex: 0 1 330px;
	margin:  15px;



	.remove-img{
	  color: red;
	  position: absolute;
	  top: -20px;
	  right: -20px;
	  font-size: 38px;
	  cursor: pointer;
	  transition: color 0.3s ease-in-out ,
	  border-bottom-color 0.3s ease-in-out ,  border-top-color 0.3s ease-in-out ,
	  border-left-color 0.3s ease-in-out,  border-right-color 0.3s ease-in-out,
	  background-color 0.3s ease-in-out;
	  width: 40px;
	  height: 40px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  border: 3px solid transparent;
	  border-radius: 50%;
	  &:hover{
		color: darken(red , 20%);
		border: 3px solid  rgba(darken(red , 20%) , 50%);
		background-color: #eee;
	  }
	  & > b{
		//margin-bottom: 4px;
	  }

	}



  }



  .add-img{
	align-self: center;
	.add-img-btn{
	  width: 150px;
	  height: 150px;
	  border: none;
	  cursor: pointer;
	  & > span:first-of-type{
		display: block;
		font-size: 45px;
		text-align: center;
	  }
	  & > span:last-of-type{
		font-size: 12px;
		text-align: center;
	  }
	}
  }



}



